 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Cloud</h2>
      <i class="devicon-oracle-original colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-redhat-plain-wordmark colored"></i>
      <p>Hold Oracle Foundations Associate & Coursera's AWS certificates. 
       Leverage Red Hat OpenShift for personal projects.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I employ Python and Linux for all my DevOps projects, while I am in the process of learning Node.js and JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/kubernetes/kubernetes-plain-wordmark.svg" style="
       font-family: devicon;
       speak: none;
       font-style: normal;
       font-weight: 400;
       font-variant: normal;
       text-transform: none;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
       width: 75px;
       height: 75px;
      ">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/terraform/terraform-original-wordmark.svg" style="
       font-family: devicon;
       speak: none;
       font-style: normal;
       font-weight: 400;
       font-variant: normal;
       text-transform: none;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
       width: 75px;
       height: 75px;
      ">
      <i class="devicon-travis-plain-wordmark colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-plain-wordmark.svg" style="
       font-family: devicon;
       speak: none;
       font-style: normal;
       font-weight: 400;
       font-variant: normal;
       text-transform: none;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
       width: 75px;
       height: 75px;
      ">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/confluence/confluence-original-wordmark.svg" style="
       font-family: devicon;
       speak: none;
       font-style: normal;
       font-weight: 400;
       font-variant: normal;
       text-transform: none;
       line-height: 1;
       -webkit-font-smoothing: antialiased;
       width: 75px;
       height: 75px;
      ">
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
